:root, body {
  padding: 0 0;
  margin: 0 0;
  background-color: rgb(0, 25, 32);
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, p {
  padding: 0 0;
  margin: 0 0;
}
.container {
  text-align: center;
  padding: 2px 2px;
}
#taskInput {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 90%;
  height: 30px;
  color: #fff;
}
.container-fluid {
  padding: 10px;
  height: 100%;
}
.taskContainer {
  border: 1px solid #79b3ff;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 5px;
  height: 100%;
}
.taskContainer p {
  text-align: center;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.btnTask {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  float: right;
}
ul > li {
  border: 1px solid white;
  padding: 4px 8px;
  border-radius: 5px;
  margin-top: 5px;
  list-style: decimal;
}